<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tu.myfavorite.dao.MyFavoriteDAO">
	
	<resultMap type="com.tu.myfavorite.vo.MyFavoriteVO" id="myfavoriteVO">
		<result property="myno" column="MYNO"/>
		<result property="mygrade" column="MYGRADE"/>
		<result property="mylocation" column="MYLOCATION"/>
		<result property="mytitle" column="MYTITLE"/>
		<result property="mylink" column="MYLINK"/>
		<result property="myid" column="MYID"/>
		<result property="mno" column="MNO"/>
		<result property="mycno" column="MYCNO"/>
		<result property="myinsertdate" column="MYINSERTDATE"/>
		
	</resultMap>
	

	<select id="listMyFavorite" parameterType="com.tu.myfavorite.vo.MyFavoriteVO" resultMap="myfavoriteVO">

	SELECT
					 MYLOCATION
					,MYTITLE
					,MYLINK
					,MNO
					,MYCNO
					,MYINSERTDATE
			FROM
					TUMYFAV
			WHERE
					MNO =#{mno}
			ORDER BY MYNO


	</select>
	
	<select id="selectMyFavorite" parameterType="com.tu.myfavorite.vo.MyFavoriteVO" resultMap="myfavoriteVO">
		<!-- Mapper - selectDepartment -->
			SELECT
					 MYLOCATION
					,MYTITLE
					,MYLINK
					,MNO
					,MYCNO
					,MYINSERTDATE
			FROM
					TUMYFAV
			WHERE
					MNO =#{mno}
			AND
					MYGRADE=#{mygrade}
			ORDER BY MYNO
	</select>
	
	<insert id="insertMyFavorite" parameterType="com.tu.myfavorite.vo.MyFavoriteVO">
	
	INSERT INTO
				TUMYFAV
				VALUES(
						#{myno},
						#{mytitle},
						#{myid},
						'1',
						#{mylocation},
						#{mylink},
						#{mycno},
						#{mno},
						SYSDATE,
						SYSDATE,
						SYSDATE
						)
				
	
	</insert>
	
	<delete id="deleteMyFavorite" parameterType="com.tu.myfavorite.vo.MyFavoriteVO">
	
	DELETE 
	      TUMYFAV
	WHERE
			1=1
	AND
	      MNO=#{mno}
	AND
		  MYCNO=#{mycno}
	</delete>
</mapper>