<component name="ArtifactManager">
  <artifact type="exploded-war" name="springTest:war exploded">
    <output-path>$PROJECT_DIR$/classes/artifacts/springTest_war_exploded</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springTest" />
        </element>
        <element id="directory" name="lib">
          <element id="file-copy" path="$PROJECT_DIR$/WebContent/WEB-INF/lib/jstl.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/WebContent/WEB-INF/lib/ojdbc6.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/WebContent/WEB-INF/lib/standard.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/WebContent/WEB-INF/lib/asm-3.3.1.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/WebContent/WEB-INF/lib/cglib-2.2.2.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/WebContent/WEB-INF/lib/log4j-1.2.17.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/WebContent/WEB-INF/lib/mybatis-3.2.4.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/WebContent/WEB-INF/lib/slf4j-api-1.7.5.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/WebContent/WEB-INF/lib/commons-codec-1.10.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/WebContent/WEB-INF/lib/javassist-3.17.1-GA.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/WebContent/WEB-INF/lib/log4j-api-2.0-beta9.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/WebContent/WEB-INF/lib/slf4j-log4j12-1.7.5.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/WebContent/WEB-INF/lib/log4j-core-2.0-beta9.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/WebContent/WEB-INF/lib/mybatis-spring-1.2.2.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/WebContent/WEB-INF/lib/commons-logging-1.1.1.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/WebContent/WEB-INF/lib/commons-logging-1.1.2.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/WebContent/WEB-INF/lib/spring-tx-3.2.4.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/WebContent/WEB-INF/lib/spring-aop-3.2.4.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/WebContent/WEB-INF/lib/spring-jms-3.2.4.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/WebContent/WEB-INF/lib/spring-orm-3.2.4.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/WebContent/WEB-INF/lib/spring-oxm-3.2.4.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/WebContent/WEB-INF/lib/spring-web-3.2.4.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/WebContent/WEB-INF/lib/spring-core-3.2.4.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/WebContent/WEB-INF/lib/spring-jdbc-3.2.4.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/WebContent/WEB-INF/lib/spring-test-3.2.4.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/WebContent/WEB-INF/lib/spring-beans-3.2.4.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/WebContent/WEB-INF/lib/spring-struts-3.2.4.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/WebContent/WEB-INF/lib/spring-webmvc-3.2.4.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/WebContent/WEB-INF/lib/spring-aspects-3.2.4.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/WebContent/WEB-INF/lib/spring-context-3.2.4.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/WebContent/WEB-INF/lib/jakarta-taglibs-standard-1.1.2.zip" />
          <element id="file-copy" path="$PROJECT_DIR$/WebContent/WEB-INF/lib/spring-build-src-3.2.4.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/WebContent/WEB-INF/lib/spring-expression-3.2.4.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/WebContent/WEB-INF/lib/spring-instrument-3.2.4.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/WebContent/WEB-INF/lib/spring-webmvc-portlet-3.2.4.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/WebContent/WEB-INF/lib/spring-context-support-3.2.4.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/WebContent/WEB-INF/lib/spring-instrument-tomcat-3.2.4.RELEASE.jar" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="springTest/web/Web" />
    </root>
  </artifact>
</component>